@charset "UTF-8";
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.eot");
  src: local("☺"), url("../fonts/Montserrat-Regular.woff") format("woff"),
    url("../fonts/Montserrat-Regular.ttf") format("truetype"), url("../fonts/Montserrat-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.eot");
  src: local("☺"), url("../fonts/Montserrat-Bold.woff") format("woff"),
    url("../fonts/Montserrat-Bold.ttf") format("truetype"), url("../fonts/Montserrat-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Material Icons";
  src: url("../fonts/MaterialIcons-Regular.eot");
  src: local("☺"), url("../fonts/MaterialIcons-Regular.woff") format("woff"),
    url("../fonts/MaterialIcons-Regular.ttf") format("truetype"),
    url("../fonts/MaterialIcons-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga";
}

body {
  margin: 0px;
  font-family: "Montserrat";
  font-weight: 400;
  background: #fff;
  font-size: 14px;
  line-height: 15px;
}

* {
  box-sizing: border-box;
}

p,
input,
form {
  margin: 0;
}

.logo {
  position: absolute;
  left: 30px;
  top: 30px;
}

.column-1 {
  width: 320px;
  margin-left: 141px;
  margin-top: 143px;
}

.form__title {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
}

.form__text-field-title {
  font-weight: 700;
  padding-bottom: 5px;
}

.form__text-default {
  margin-top: -3px;
  color: rgba(31, 32, 65, 0.5);
}

.form__email {
  font-family: "Montserrat";
  font-size: 14px;
  width: 320px;
  height: 44px;
  background: #ffffff;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 14px;
  outline: none;
  margin-bottom: 20px;
}

.form__email::placeholder {
  color: rgba(31, 32, 65, 0.25);
}

.form__email:hover,
.form__email:hover::placeholder {
  border-color: rgba(31, 32, 65, 0.5);
  color: rgba(31, 32, 65, 0.75);
}

.form__email:focus,
.form__email:focus::placeholder {
  border-color: rgba(31, 32, 65, 0.5);
  color: rgba(31, 32, 65, 0.75);
}

.form__text-hover-focus {
  height: 15px;
  text-align: end;
  color: rgba(31, 32, 65, 0.5);
  font-size: 12px;
}

.form__email_focus {
  font-family: "Montserrat";
  font-size: 14px;
  width: 320px;
  height: 44px;
  padding-left: 14px;
  padding-bottom: 4px;
  line-height: 24px;
  border: 1px solid rgba(31, 32, 65, 0.5);
  border-radius: 4px;
  margin-bottom: 20px;
  letter-spacing: -0.2px;
  outline: none;
}

.form__email_focus::placeholder {
  color: rgba(31, 32, 65, 0.75);
}

.dropdown {
  position: relative;
  margin-top: 0.75px;
}

.dropdown__guests {
  font-family: "Montserrat";
  font-size: 14px;
  width: 320px;
  height: 44px;
  background: #ffffff;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 14px;
  padding-bottom: 3px;
  margin-bottom: 22.5px;
  line-height: 15px;
  outline: none;
  color: rgba(31, 32, 65, 0.75);
}

.dropdown__title {
  font-weight: 700;
  padding-bottom: 5px;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  box-sizing: border-box;
}

.date__title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  font-family: inherit;
  padding-bottom: 5px;
}

.date__form {
  width: 320px;
  height: 44px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  font-family: Montserrat;
  letter-spacing: -0.07px;
  font-size: 14px;
  line-height: 15px;
  text-transform: uppercase;
  color: rgba(31, 32, 65, 0.5);
  padding-left: 14px;
  padding-bottom: 3px;
  margin-bottom: 40px;
  outline: none;
}

.date__form::placeholder {
  color: rgba(31, 32, 65, 0.25);
}

.date__form::-webkit-calendar-picker-indicator {
  display: none;
}

.date-container {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.date-dropdown__title {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  color: #1f2041;
  padding-bottom: 5px;
}

.date-dropdown__form {
  width: 150px;
  height: 44px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  font-size: 14px;
  text-transform: uppercase;
  padding-left: 13.25px;
  padding-bottom: 3px;
  font-family: Montserrat;
  letter-spacing: -0.5px;
  color: rgba(31, 32, 65, 0.75);
  outline: none;
  margin-bottom: 20px;
}

.date-dropdown__form::-webkit-calendar-picker-indicator {
  display: none;
}

.date-dropdown i {
  position: absolute;
  right: 10px;
  top: 31px;
  color: rgba(31, 32, 65, 0.5);
}

.date-dropdown__form::placeholder {
  color: rgba(31, 32, 65, 0.75);
}

.filter-date {
  position: relative;
  margin-top: 21px;
}

.filter-date__title {
  text-transform: uppercase;
  font-weight: bold;
  width: 197px;
  height: 15px;
  font-size: 12px;
}

.filter-date__form {
  position: relative;
  margin-top: 5px;
  width: 266px;
  height: 44px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
}

.subscription {
  position: relative;
  width: 267px;
  margin-top: 41px;
  margin-bottom: 99px;
}

.subscription .arrow_forward {
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.subscription__title {
  width: 170px;
  height: 15px;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
}

.subscription__form {
  height: 44px;
  width: 100%;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 14px;
  padding-bottom: 3px;
  outline: none;
}

.subscription__form::placeholder {
  font-family: Montserrat;
  font-size: 14px;
}

.subscription__button {
  position: absolute;
  right: 0;
  width: 44px;
  height: 44px;
  border: none;
  background: transparent;
  cursor: pointer;
  outline: none;
}

.room-option {
  width: 266px;
  margin-bottom: 19px;
}

.room-option__title {
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 5px;
}

.room-option__default {
  display: inline-block;
  font-size: 12px;
  text-transform: uppercase;
  float: right;
  margin-top: 1px;
  color: rgba(31, 32, 65, 0.75);
}

.room-option__form {
  position: relative;
  width: 266px;
  height: 44px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px 4px 0 0;
  background-color: white;
  padding-left: 14px;
  padding-top: 1px;
  cursor: pointer;
}

.room-option__text {
  color: rgba(31, 32, 65, 0.75);
  line-height: 38px;
}

.room-option i {
  position: absolute;
  padding: 8px 9px;
  height: 42px;
  width: 42px;
  right: 0px;
  color: rgba(31, 32, 65, 0.75);
  cursor: pointer;
  transition: 0.2s linear;
}

.room-option__dropdown {
  display: grid;
  grid-template-columns: 152px 30px 32px 30px;
  align-items: center;
  align-content: space-between;
  position: absolute;
  padding: 0;
  margin: 0;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-top: none;
  width: 266px;
  height: 118px;
  border-radius: 0 0px 4px 4px;
  padding: 6px 6px 7px 14px;
  opacity: 0;
  pointer-events: none;
  transition: 0.1s linear;
}

.room-option__list {
  list-style-type: none;
  margin-bottom: 3px;
  font-size: 12px;
  color: #1f2041;
  font-weight: bold;
  text-transform: uppercase;
}

.room-option__buttons {
  border-radius: 22px;
  height: 30px;
  width: 30px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  background-color: white;
  color: rgba(31, 32, 65, 0.25);
  font-size: 18px;
  padding-bottom: 2px;
  cursor: pointer;
}

.room-option__number {
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  margin-bottom: 3px;
}

.expanded {
  opacity: 1;
  pointer-events: auto;
}

.column-2 {
  position: absolute;
  top: 143.5px;
  left: 587px;
  width: 320px;
}

.checkbox-button {
  display: flex;
  flex-direction: column;
}

.checkbox-button__title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 16.5px;
}

.checkbox-button__checkbox {
  -webkit-appearance: none;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
  height: 20px;
  width: 20px;
  margin-bottom: 10.5px;
  margin-right: 10px;
  vertical-align: middle;
  cursor: pointer;
  float: left;
  outline: none;
  position: relative;
}

.checkbox-button__checkbox:checked {
  border: 1px solid #bc9cff;
  background: url(../img/check.svg) 50% 50% no-repeat;
}

.checkbox-button__text {
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.5);
  cursor: pointer;
}

.radio-buttons__title {
  margin-top: 41px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 13px;
}

.radio-buttons label {
  color: rgba(31, 32, 65, 0.75);
  font-size: 14px;
  line-height: 24px;
  margin-left: 10px;
  margin-right: 16px;
}

.radio-buttons__radio {
  -webkit-appearance: none;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 50%;
  height: 20px;
  width: 20px;
  outline: none;
  cursor: pointer;
  position: relative;
  vertical-align: middle;
}

.radio-buttons__radio:checked {
  border: 1px solid #bc9cff;
}

.radio-buttons__radio:checked::before {
  content: "";
  position: absolute;
  margin: 3px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: linear-gradient(180deg, #bc9cff 50%, #8ba4f9 100%);
}

.toggle {
  margin-top: 40px;
}

.toggle__title {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 11.5px;
  margin-bottom: 15.5px;
}

.toggle label {
  color: rgba(31, 32, 65, 0.75);
  font-size: 14px;
  line-height: 19px;
  margin-left: 10px;
  position: absolute;
}

.toggle__checkbox {
  margin-bottom: 14px;
  -webkit-appearance: none;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 10px;
  height: 20px;
  width: 40px;
  outline: none;
  cursor: pointer;
  position: relative;
  vertical-align: top;
}

.toggle__checkbox:checked {
  border: 1px solid #bc9cff;
}

.toggle__checkbox:not(:checked)::before {
  content: "";
  left: 0;
  position: absolute;
  margin: 3px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: rgba(31, 32, 65, 0.25);
}

.toggle__checkbox:checked::after {
  content: "";
  right: 0;
  position: absolute;
  margin: 3px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: linear-gradient(180deg, #bc9cff 50%, #8ba4f9 100%);
}

.like-button {
  margin-top: 31px;
  box-sizing: border-box;
}

.like-button__title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 13px;
}

.like-button__heart {
  box-sizing: border-box;
  -webkit-appearance: none;
  border: 1px solid rgba(31, 32, 65, 0.25);
  background-color: white;
  border-radius: 10px;
  margin: 0 6px 0 0;
  padding: 0;
  height: 20px;
  width: 40px;
  outline: none;
  cursor: pointer;
  position: relative;
}

.like-button .material-icons {
  position: absolute;
  left: 4px;
  top: 4px;
  font-size: 10px;
  color: rgba(31, 32, 65, 0.25);
}

.likes-number {
  font-family: "Montserrat";
  font-size: 10px;
  color: rgba(31, 32, 65, 0.25);
  position: absolute;
  right: 10px;
  top: 2.5px;
}

.like_added {
  color: #bc9cff;
  border: 1px solid #bc9cff;
}

.like_added .likes-number {
  color: #bc9cff;
}

.like_added .favorite {
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.rate-button {
  margin-top: 40.25px;
}

.rate-button__title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 16px;
}

.rate-button__star {
  box-sizing: border-box;
  user-select: none;
  -webkit-appearance: none;
}

.rate-button .material-icons {
  cursor: pointer;
  margin-left: -3px;
  margin-right: -4.5px;
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.rate-button__star:checked + label > i {
  background: red;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
