.comfort {
  display: flex;
  width: 280px;
  margin-left: 5px;
  margin-top: 270px;
  padding-bottom: 25px;
  border-bottom: 1px solid rgba(31, 32, 65, 0.1);
  &__text {
  }

  &__title {
    margin-left: 11px;
    margin-bottom: 10px;
    font-weight: bold;
  }

  &__subtitle {
    margin-left: 11px;
  }
}
.convenience {
  display: flex;
  width: 280px;
  margin-left: 5px;
  margin-top: 23px;
  padding-bottom: 25px;
  border-bottom: 1px solid rgba(31, 32, 65, 0.1);
  &__text {
  }

  &__title {
    margin-left: 16px;
    margin-bottom: 10px;
    font-weight: bold;
  }

  &__subtitle {
    margin-left: 16px;
  }
}
