@import "font-face";
body {
    margin: 0px;
    font-family: "Montserrat";
    font-weight: 400;
    background: #fff;
}
p,
input,
form {
    margin: 0;
}
.logo {
    position: absolute;
    left: 30px;
    top: 30px;
}
//***************COLUMN 1***************
@import "column-1";
@import "form";
@import "dropdown";
//***************COLUMN 2***************
@import "colons-2";
@import"checkbox-button";
@import "radio-buttons";
@import "toggle";
@import "like-button";

