@import "font-face";
body {
  margin: 0px;
  font-family: "Montserrat";
  font-weight: 400;
  background: #fff;
  font-size: 14px;
  line-height: 15px;
}
* {
  box-sizing: border-box;
}
p,
input,
form {
  margin: 0;
}
.logo {
  position: absolute;
  left: 30px;
  top: 30px;
}
//***************COLUMN 1***************
@import "column-1";
@import "form";
@import "dropdown";
@import "date";
@import "date-dropdown";
@import "filter-date";
@import "subscription";
@import "room-option";
@import "checkbox-list";
@import "comfort-convenience";
//***************COLUMN 2***************
@import "column-2";
@import "checkbox-button";
@import "radio-buttons";
@import "toggle";
@import "like-button";
@import "rate-button";
